services:
  backend-dev:
    build:
      context: .
      dockerfile: backend/Dockerfile.backend
      target: dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "8080:8080" # HOST_PORT:CONTAINER_PORT
    env_file:
      - ./.env.development
      - ./.env

  app-dev:
    build:
      context: .
      dockerfile: frontend/Dockerfile.frontend
      target: dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    env_file:
      - ./.env.development
    environment:
      - VITE_IP_API_KEY=${IP_API_KEY}
    depends_on:
      - backend-dev

  backend-prod:
    build:
      context: .
      dockerfile: backend/Dockerfile.backend
      target: prod
    ports:
      - "8888:8888"
    env_file:
      - ./.env.production
      - ./.env
    # secrets:
    #   - EMAIL_HOST
    #   - EMAIL_PORT
    #   - EMAIL_USER
    #   - EMAIL_PASSWORD
    #   - ACCESS_TOKEN_SECRET
    #   - ACCESS_TOKEN_EXP_TIME
    #   - REFRESH_TOKEN_SECRET
    #   - REFRESH_TOKEN_EXP_TIME
    #   - CONFIRM_TOKEN_SECRET
    #   - CONFIRM_TOKEN_EXP_TIME

  app-prod:
    build:
      context: .
      dockerfile: frontend/Dockerfile.frontend
      target: prod
      args:
        - VITE_API_URL=http://localhost:8888/api
        - VITE_IP_API_KEY=${IP_API_KEY}
    ports:
      - "8000:80"
    env_file:
      - ./.env.production
    # secrets:
    #   - IP_API_KEY
    depends_on:
      - backend-prod

# secrets:
#   EMAIL_HOST:
#     external: true
#   EMAIL_PORT:
#     external: true
#   EMAIL_USER:
#     external: true
#   EMAIL_PASSWORD:
#     external: true
#   ACCESS_TOKEN_SECRET:
#     external: true
#   ACCESS_TOKEN_EXP_TIME:
#     external: true
#   REFRESH_TOKEN_SECRET:
#     external: true
#   REFRESH_TOKEN_EXP_TIME:
#     external: true
#   CONFIRM_TOKEN_SECRET:
#     external: true
#   CONFIRM_TOKEN_EXP_TIME:
#     external: true
#   IP_API_KEY:
#     external: true
