.accordion-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: auto;
  max-width: 100%;
}

.accordion-item {
  background: var(--lighter-main-bg-color);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.accordion-item .accordion-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.accordion-item .accordion-title > h2 {
  flex-grow: 1;
  text-align: left;
}

.accordion-item .accordion-title svg.arrow {
  height: 22px;
  width: 22px;
  transition: all ease-in-out 0.5s;
}

.accordion-item .accordion-title svg.arrow path {
  fill: var(--accent-color);
}

.accordion-item .accordion-title:hover {
  transform: scale(1.01);
}

.accordion-item.open .accordion-title svg.arrow {
  transform: rotate(90deg);
}

.accordion-item .accordion-content {
  display: flex;
  max-height: 0;
  overflow-y: hidden;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.accordion-item.open .accordion-content {
  max-height: max-content;
  margin-top: 5px;
  opacity: 1;
}
