.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: var(--lighter-main-bg-color);
  border-radius: 20px;
  padding: 20px;
  width: 450px;
  max-width: 100%;
}

.basic-form-title {
  font-family: 'Unbounded', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  text-align: center;
  line-height: 1.2;
}

.basic-form-title.small {
  font-size: 0.95rem;
}

.basic-form-feedback,
.basic-form-note {
  font-size: 0.8rem;
  text-align: center;
}

.basic-form-feedback.ok {
  color: var(--darker-accent-bg-color);
}

.basic-form-feedback.fail {
  color: var(--attention-color);
}

.basic-form-note a {
  color: var(--faded-accent-color);
  font-weight: bold;
  transition: all ease-in-out 0.5s;
}

.basic-form-note a:hover {
  color: var(--darker-accent-bg-color);
}

.basic-form-result-icon.ok path {
  fill: var(--darker-accent-bg-color);
  stroke: var(--darker-accent-bg-color);
  opacity: 0.75;
}

.basic-form-result-icon.fail path {
  fill: var(--attention-color);
  stroke: var(--attention-color);
  opacity: 0.75;
}
