.calendar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.calendar-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 15px;
}

.calendar-navigation.add {
  grid-template-columns: auto auto 1fr auto auto auto;
}

.calendar-navigation-current {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: var(--lighter-main-bg-color);
  border-radius: 15px;
  color: var(--accent-color);
  font-family: 'Unbounded', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.calendar-container {
  background: var(--lighter-main-bg-color);
  border-radius: 20px;
  height: 100%;
  flex-grow: 1;
  transition: all ease-in-out 0.3s;
}

.calendar-container.disabled {
  opacity: 0.8;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .calendar-navigation {
    grid-template-columns: 1fr auto auto auto;
  }

  .calendar-navigation.add {
    grid-template-columns: auto 1fr auto auto auto;
  }

  .calendar-navigation-current {
    grid-area: 2 / 1 / 3 / -1;
    height: 35px;
  }
}

@media screen and (max-width: 450px) {
  .select-field-container.nav .select-field-button {
    font-size: 0.8rem;
    min-width: 102px;
  }

  .select-field-container.nav .select-field-button:hover {
    font-size: 0.82rem;
  }

  .main-button.nav:not(.square) {
    font-size: 0.8rem;
    min-width: 53px;
  }

  .main-button.nav:not(:disabled):hover {
    font-size: 0.85rem;
  }
}
