.calendar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.calendar-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 15px;
}

.calendar-navigation.add {
  grid-template-columns: auto auto 1fr auto auto auto;
}

.calendar-navigation-current {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: var(--lighter-main-bg-color);
  border-radius: 15px;
  color: var(--accent-color);
  font-family: 'Unbounded', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  padding: 2px 5px;
}

.calendar-navigation-current span {
  color: var(--faded-accent-color);
  font-size: 0.8rem;
  white-space: nowrap;
  transition: all ease-in-out 0.3s;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  flex-grow: 1;
}

.calendar-container.white {
  background: var(--lighter-main-bg-color);
}

.calendar-container.disabled {
  cursor: auto;
  pointer-events: none;
}

.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard th,
.fc-theme-standard td {
  border: none;
}

.fc-theme-standard td {
  border-top: 1px solid var(--faded-accent-color);
  border-left: 1px solid var(--faded-accent-color);
}

.fc-scroller {
  background: var(--lighter-main-bg-color);
}

.fc-scrollgrid-section-header .fc-scroller {
  background: var(--accent-bg-color);
  border-radius: 20px 20px 0 0;
  overflow: visible !important;
}

.fc-col-header {
  background: var(--accent-bg-color);
  border-radius: 20px 20px 0 0;
}

.fc-col-header-cell {
  height: 40px;
}

.fc-scrollgrid-sync-inner {
  height: 100%;
}

.fc-col-header-cell-cushion {
  color: var(--accent-color);
  font: bold 1.1rem 'Unbounded', sans-serif;
  height: 100%;
  margin-top: 7px;
  transition: all ease-in-out 0.3s;
}

.fc-timeGridWeek-view .fc-day-today .fc-col-header-cell-cushion,
.fc-timeGridDay-view .fc-day-today .fc-col-header-cell-cushion {
  background: var(--accent-color);
  border-radius: 7px;
  color: var(--lighter-main-bg-color);
  height: auto;
}

.fc .fc-daygrid-week-number,
.fc-timegrid-slot-label-cushion {
  background: transparent;
  color: var(--faded-accent-color);
  font: bold 0.9rem 'Poppins', sans-serif;
  transition: font-size ease-in-out 0.3s;
}

.fc .fc-timegrid-axis-frame,
.fc-timegrid-slot-label-frame {
  justify-content: center;
  text-align: center !important;
}

.fc-timegrid-axis-cushion.fc-scrollgrid-sync-inner {
  color: var(--faded-accent-color);
  font: bold 0.7rem 'Poppins', sans-serif;
  text-align: center;
  transition: font-size ease-in-out 0.3s;
  padding: 2px;
}

.fc-col-header .fc-timegrid-axis .fc-timegrid-axis-cushion.fc-scrollgrid-sync-inner {
  color: var(--accent-color);
  font: bold 0.9rem 'Poppins', sans-serif;
  padding-top: 8px;
}

.fc-daygrid-day-frame {
  background: var(--lighter-main-bg-color);
  transition: background ease-in-out 0.3s;
}

.fc .fc-day-disabled .fc-daygrid-day-frame {
  background: rgba(149, 131, 167, 0.1);
}

.fc .fc-day-disabled:last-of-type {
  border-bottom-right-radius: 20px;
}

.fc-scroller-liquid-absolute {
  border-radius: 0 0 20px 20px;
}

.fc-daygrid-day:not(.fc-day-disabled) .fc-daygrid-day-frame,
.fc-timegrid-slot-lane, .fc-daygrid-event {
  cursor: pointer;
}

.fc-scrollgrid-sync-table {
  width: 100% !important;
}

.fc-daygrid-day-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg-color);
  border-radius: 5px;
  font: bold 0.75rem 'Poppins', sans-serif;
  height: 20px;
  width: 20px;
  padding: 0 !important;
  margin: 3px;
  transition:
    font-size ease-in-out 0.3s,
    height ease-in-out 0.3s,
    width ease-in-out 0.3s;
}

.fc-day-today .fc-daygrid-day-number {
  background: var(--accent-color);
  color: var(--lighter-main-bg-color);
}

.fc-event {
  border-radius: 7px;
  transition: all ease-in-out 0.3s;
}

.fc-event:hover {
  filter: brightness(1.02);
}

.fc-event.holiday {
  cursor: auto;
}

.fc-event.background {
  opacity: 0.6;
  cursor: pointer;
}

.calendar-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: var(--accent-color);
  padding: 2px;
  height: 21px;
  min-width: 0;
}

.calendar-event.done {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  opacity: 0.5;
}

.fc-daygrid-dot-event {
  transition: all ease-in-out 0.3s;
}

.fc-daygrid-dot-event.fc-event-mirror,
.fc-daygrid-dot-event:hover,
.fc .fc-daygrid-more-link:hover:hover {
  background: rgba(149, 131, 167, 0.1);
}

.calendar-event-type {
  height: 14px;
  width: 14px;
  flex-shrink: 0;
}

.calendar-event-name {
  font-size: 0.85rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fc-daygrid-more-link.fc-more-link {
  border-radius: 5px;
  color: var(--accent-color);
  font-size: 0.75rem;
  width: 100%;
  transition: all ease-in-out 0.3s;
}

.fc-theme-standard .fc-popover {
  background: var(--lighter-main-bg-color);
  border-radius: 20px;
  box-shadow: 0 0 4px 1px var(--main-shadow-color);
}

.fc-theme-standard .fc-popover-header {
  background: var(--accent-bg-color);
  border-radius: 20px 20px 0 0;
  color: var(--accent-color);
  font-weight: 700;
  justify-content: center;
  position: relative;
}

.fc-popover-close {
  font-weight: 700;
  position: absolute;
  top: 6px;
  right: 7px;
}



@media screen and (max-width: 800px) {
  .calendar-navigation-current {
    font-size: 0.9rem;
  }

  .fc-timeGridWeek-view .fc-col-header-cell-cushion {
    font-size: 0.8rem;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .calendar-navigation {
    grid-template-columns: 1fr auto auto auto;
  }

  .calendar-navigation.add {
    grid-template-columns: auto 1fr auto auto auto;
  }

  .calendar-navigation-current {
    grid-area: 2 / 1 / 3 / -1;
    height: 35px;
  }

  .fc-col-header-cell-cushion {
    font-size: 0.8rem;
    margin-top: 10px;
  }

  .fc-timeGridWeek-view .fc-col-header-cell-cushion {
    font-size: 0.65rem;
    margin-top: 11px;
  }
}

@media screen and (max-width: 500px) {
  .fc-timeGridWeek-view .fc-col-header-cell-cushion {
    font-size: 0.6rem;
  }

  .fc .fc-daygrid-week-number {
    font: bold 0.7rem 'Poppins', sans-serif;
  }

  .fc-timeGridWeek-view .fc-col-header-cell-cushion {
    max-width: 38px;
    margin-top: 6px;
  }
}

@media screen and (max-width: 450px) {
  .select-field-container.nav .select-field-button {
    font-size: 0.8rem;
    min-width: 102px;
  }

  .select-field-container.nav .select-field-button:hover {
    font-size: 0.82rem;
  }

  .main-button.nav:not(.square) {
    font-size: 0.8rem;
    min-width: 53px;
  }

  .main-button.nav:not(:disabled):hover {
    font-size: 0.85rem;
  }
}
