header {
  background: var(--main-bg-color);
  box-shadow: 0 4px 13px 13px var(--main-bg-color);
  font-weight: bold;
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 99;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

header nav .logo svg {
  max-width: 175px;
  transition: all ease-in-out 0.5s;
}

header nav .logo svg:hover {
  transform: scale(1.02);
}

header nav .search-container {
  flex-grow: 1;
}

header nav .avatar {
  border: 4px solid var(--accent-color);
  border-radius: 15px;
  height: 45px;
  width: 45px;
  object-fit: cover;
}

@media screen and (max-width: 400px) {
  header nav .logo {
    width: calc(100% * 0.8);
  }

  header nav .logo svg {
    width: 100%;
  }
}
