header {
  background: var(--main-bg-color);
  box-shadow: 0 4px 13px 13px var(--main-bg-color);
  font-weight: bold;
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 99;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

header nav .logo svg {
  padding-top: 4px;
  max-width: 175px;
  transition: all ease-in-out 0.3s;
}

header nav .logo svg:hover {
  transform: scale(1.02);
}

header nav .search-container {
  flex-grow: 1;
  justify-items: flex-end;
}

header nav .event-search-form-container {
  position: relative;
  width: 100%;
}

header nav .search-icon-container {
  display: none;
}

header nav .avatar {
  border: 4px solid var(--accent-color);
  border-radius: 15px;
  height: 45px;
  width: 45px;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  header nav .search-icon-container {
    display: flex;
  }

  header nav .event-search-form-container {
    position: absolute;
    top: 110%;
    left: 0;
    z-index: -1;
    opacity: 0;
    transform: scale(0.9) translateY(-10px);
    pointer-events: none;
  }

  header nav .event-search-form-container::before {
    content: '';
    background: var(--lighter-main-bg-color);
    border-top: 2px solid var(--main-shadow-color);
    border-left: 2px solid var(--main-shadow-color);
    height: 8px;
    width: 8px;
    position: absolute;
    top: -5px;
    right: 137px;
    opacity: 0;
    transform: rotate(45deg) translateY(-10px);
    transition:
      all ease-in-out 0.3s,
      border ease-in-out 0.5s;
  }

  header nav .event-search-form-container:focus-within::before {
    border-top: 2px solid var(--accent-bg-color);
    border-left: 2px solid var(--accent-bg-color);
  }

  header nav .event-search-form-container .field {
    box-shadow: 0 0 5px 1px var(--main-shadow-color);
    border-radius: 15px;
  }

  header nav .event-search-form-container.open {
    z-index: 100;
    opacity: 1;
    transform: scale(1) translateY(0);
    pointer-events: auto;
    transition: all ease-in-out 0.3s;
  }

  header nav .event-search-form-container.open::before {
    opacity: 1;
    transform: rotate(45deg) translateY(0);
  }
}

@media screen and (max-width: 400px) {
  header nav .logo {
    width: calc(100% * 0.8);
  }

  header nav .logo svg {
    width: 100%;
  }
}
