.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--main-bg-color);
  border: 1px solid transparent;
  border-radius: 15px;
  outline: 1px solid transparent;
  min-height: 36px;
  transition:
    border ease-in-out 0.5s,
    outline ease-in-out 0.5s;
}

.field-container.lighter {
  background: var(--lighter-main-bg-color);
}

.field-container.match-height {
  height: 45px;
}

.field-container.match-height input {
  height: 100%;
}

.field-container:focus-within {
  border: 1px solid var(--accent-bg-color);
  outline: 1px solid var(--accent-bg-color);
}

.field-container:focus-within svg path {
  fill: var(--accent-color);
}

.field-container.area {
  height: auto;
}

.field-label {
  display: block;
  color: var(--accent-color);
  font-size: 0.95rem;
  font-weight: bold;
  padding: 0 0 3px 7px;
  position: relative;
  transition: all ease-in-out 0.3s;
}

.field-label.required::after {
  content: '*';
  color: var(--attention-color);
  font-size: 13px;
  padding-left: 4px;
  position: absolute;
}

.field-container input,
.field-container input:focus,
.field-container textarea,
.field-container textarea:focus {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  caret-color: var(--accent-color);
  color: var(--main-color);
  outline: none;
  flex-grow: 1;
  padding: 3px 7px;
}

.field-container textarea,
.field-container textarea:focus {
  font-size: 1rem;
  min-height: 81px;
  max-height: 81px;
  resize: none;
}

.field-container:has(input:disabled),
.field-container:has(textarea:disabled) {
  opacity: 0.65;
}

.field-container input::placeholder,
.field-container textarea::placeholder {
  color: var(--faded-accent-color);
  font-size: 0.9rem;
  transition: all ease-in-out 0.3s;
}

.field-container.match-height input::placeholder {
  font-size: 1rem;
}

.field-container input:autofill,
.field-container input:focus:autofill
.field-container input:-webkit-autofill,
.field-container input:focus:-webkit-autofill {
  -webkit-text-fill-color: var(--main-color);
  -webkit-box-shadow: 0 0 0 1000px var(--main-bg-color) inset;
  border-radius: 15px;
}

.field-container button {
  display: flex;
  background: none;
  border: none;
  height: 100%;
  padding: 3px 7px 3px 0;
  cursor: pointer;
}

.field-container svg {
  height: auto;
  width: 22px;
}

.field-container svg path {
  fill: var(--faded-accent-color);
  transition: all ease-in-out 0.5s;
}

.field-err {
  color: var(--attention-color);
  font-size: 0.8rem;
  padding-left: 7px;
}

.react-datepicker-wrapper {
  flex-grow: 1;
}

.react-datepicker__input-container input,
.react-datepicker__input-container input:focus {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  caret-color: var(--accent-color);
  color: var(--main-color);
  outline: none;
  width: 100%;
}

.react-datepicker__input-container input::placeholder {
  color: var(--faded-accent-color);
  font-size: 0.95rem;
}

.react-datepicker__input-container:focus-within,
.react-datepicker__input-container:has(.react-datepicker-ignore-onclickoutside) {
  border: none;
  outline: none;
}

.react-datepicker {
  color: var(--main-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px var(--main-shadow-color);
}

.react-datepicker__triangle path {
  fill: var(--lighter-main-bg-color) !important;
  stroke: transparent !important;
}

.react-datepicker__header {
  background: var(--accent-bg-color);
  border-radius: 10px 10px 0 0;
}

.react-datepicker__current-month {
  color: var(--accent-color);
}

.react-datepicker__navigation {
  top: -1px;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--accent-color);
  top: -90px;
  transition: all ease-in-out 0.3s;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before,
.react-datepicker__navigation-icon:hover::before {
  border-color: var(--faded-accent-color);
}

.react-datepicker__day-names span {
  color: var(--faded-accent-color);
  font-weight: bold;
}

.react-datepicker__day {
  color: var(--main-color);
  transition: all ease-in-out 0.1s;
}

.react-datepicker__day--disabled {
  color: var(--faded-accent-color);
}

.react-datepicker__day:not([aria-disabled=true]):hover {
  background: var(--extra-accent-bg-color);
  color: var(--main-color);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected:not([aria-disabled=true]):hover {
  background: var(--accent-color);
  color: var(--lighter-main-bg-color);
}

.checkbox-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.checkbox-field-container:not(.short) {
  width: 100%;
}

.checkbox-field-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  color: var(--accent-color);
  font-weight: 600;
  cursor: pointer;
}

.checkbox-container {
  background: var(--main-bg-color);
  border-radius: 7px;
  height: 22px;
  width: 22px;
  position: relative;
  transition: all ease-in-out 0.3s;
}

.checkbox-container::after {
  content: '✔';
  position: absolute;
  top: -1px;
  left: 4px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.checkbox-field-label input:checked + .checkbox-container::after {
  opacity: 1;
}

.checkbox-field-container input,
.color-field-container input {
  display: none;
}

.color-field-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.color-field-label {
  cursor: pointer;
}

.color-container {
  background: var(--main-bg-color);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
  transition: all ease-in-out 0.3s;
}

.color-container::after {
  content: '✔';
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  top: 3px;
  left: 8px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.color-field-label input:checked + .color-container::after {
  opacity: 1;
}

@media screen and (max-width: 450px) {
  .color-field-container {
    justify-content: space-between;
  }
}
