.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-shadow-color);
  padding: 20px;
  height: 100vh;
  width: 100vw;
  min-width: 333px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: opacity ease-in-out 0.3s;
}

.modal-container.open {
  opacity: 1;
  pointer-events: all;
  z-index: 1000;
}

.modal-container .modal-content {
  width: auto;
  transform: scale(0);
  transition: all ease-in-out 0.5s;
}

.modal-container.open .modal-content {
  transform: scale(1);
}

.modal-content {
  gap: 10px !important;
}

.modal-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: var(--faded-accent-color);
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.modal-item svg {
  height: 20px;
  width: 20px;
}

.modal-item svg path {
  fill: var(--faded-accent-color);
  transition: all ease-in-out 0.3s;
}

.modal-item:hover {
  color: var(--accent-color);
  transform: scale(1.03);
}

.modal-item:hover svg path {
  fill: var(--accent-color);
}
