.search-results {
  background: var(--lighter-main-bg-color);
  box-shadow: 0 0 5px 1px var(--main-shadow-color);
  border-radius: 15px;
  min-height: 35px;
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  top: 120%;
  left: 0;
}

.search-message {
  color: var(--faded-accent-color);
  font-weight: normal;
  font-size: 0.95rem;
  text-align: center;
  padding-top: 6px;
}

.searched-event {
  display: grid;
  grid-template-columns: 1fr 110px;
  justify-items: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  transition: all ease-in-out 0.5s;
}

.searched-event:hover {
  background: var(--lighter-shadow-color);
}

.searched-event-title {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: row;
}

.searched-event-title .searched-event-name {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  border-radius: 10px;
  color: var(--accent-color);
  font-size: 0.95rem;
  font-weight: bold;
  padding: 3px 7px;
  transition: all ease-in-out 0.5s;
}

.searched-event:hover .searched-event-name {
  box-shadow: 0 0 3px 0 var(--main-shadow-color);
}

.searched-event-title .searched-event-type {
  height: 20px;
  width: 20px;
}

.searched-event-calendar {
  grid-area: 2 / 1;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: var(--main-color);
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0 7px;
}

.searched-event-calendar-color {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.searched-event-date {
  grid-area: 1 / 2 / span 2 / span 1;
  font-size: 0.75rem;
  font-weight: normal;
  text-align: right;
  font-style: italic;
}

@media screen and (max-width: 450px) {
  .searched-event-title .searched-event-name {
    font-size: 0.9rem;
  }
}
