.event-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
}

.content-meta-icon.event-icon path {
  fill: var(--accent-color);
}

.content-author-calendar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.event-calendar-name {
  color: var(--accent-color);
  font-size: 1.1rem;
  padding-left: 5px;
}

.events-container {
  max-width: 100%;
}

.events-container .searched-event-date {
  font-size: 0.9rem;
}
