.home-page-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.side-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  max-width: 0;
  overflow-x: hidden;
}

.side-panel.open {
  opacity: 1;
  max-width: min-content;
}

.side-panel-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 45px;
}

svg.side-panel-icon {
  height: 23px;
  width: 23px;
}

.side-panel .main-button {
  font-size: 1.1rem;
}

.side-panel .accordion-menu {
  justify-content: flex-start;
  max-height: calc(100vh - 40px - 60px - 50px - 15px);
  overflow-y: auto;
  padding: 1px;
  width: 243px;
}

.side-panel-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.side-panel-group-no-content {
  font-size: 0.85rem;
  padding: 0 5px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .side-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 243px;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 0.3s;
  }

  .side-panel .accordion-menu {
    width: 100%;
  }

  .side-panel.open {
    max-width: 100%;
    z-index: 90;
    opacity: 1;
    pointer-events: all;
  }
}
