.welcome-page.center-container {
  gap: 30px;
  text-align: center;
}

.welcome-page .welcome-statement {
  color: var(--accent-color);
  font: bold 2rem 'Unbounded', sans-serif;
}

.welcome-page .welcome-message {
  color: var(--main-color);
  font-size: 1.4rem;
  font-weight: 600;
  max-width: 600px;
  padding: 20px;
}

.welcome-page .buttons-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.welcome-page .buttons-container .main-button {
  max-width: 175px;
  min-width: 140px;
}

@media screen and (max-width: 400px) {
  .welcome-page .buttons-container {
    flex-direction: column;
  }
}

.home-page-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
}

.home-page-container.open {
  gap: 13px;
}

.side-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--main-bg-color);
  border-radius: 0 15px 15px 0;
  height: 100%;
  opacity: 0;
  max-width: 0;
  overflow-x: hidden;
}

.side-panel.open {
  opacity: 1;
  max-width: min-content;
}

.side-panel-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 45px;
  margin: 2px;
  margin-bottom: 0;
}

.side-panel .main-button {
  font-size: 1.1rem;
}

.side-panel svg.side-panel-icon {
  height: 23px;
  width: 23px;
}

.side-panel .accordion-menu-scroll-container {
  height: calc(100vh - 40px - 60px - 50px - 15px);
  overflow-y: auto;
  padding-bottom: 5px;
}

.side-panel .accordion-menu {
  justify-content: flex-start;
  padding: 1px;
  width: 243px;
}

.side-panel .accordion-item {
  padding: 15px;
}

.side-panel-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.side-panel-group-no-content {
  font-size: 0.85rem;
  padding: 0 10px;
  text-align: center;
}

.side-panel-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.side-panel-item .checkbox-field-label span {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .side-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 241px;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 0.3s;
  }

  .side-panel .accordion-menu {
    width: 100%;
  }

  .side-panel.open {
    max-width: 100%;
    z-index: 90;
    opacity: 1;
    pointer-events: all;
  }

  .side-panel-item .checkbox-field-label span {
    max-width: 90%;
  }
}

.main-panel {
  margin: 2px;
  margin-bottom: 0;
  flex-grow: 1;
}
