* {
  box-sizing: border-box;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  background: #eeeeee;
  color: #25224d;
  padding: 10px calc(10px + 2vw);
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
