:root {
  --main-bg-color: #f1f1f1;
  --lighter-main-bg-color: #fefefe;
  --accent-bg-color: #b1d481;
  --darker-accent-bg-color: #94c255;
  --darkest-accent-bg-color: #8ab44e;
  --extra-accent-bg-color: #d0b6ee;
  --main-color: #200c34;
  --accent-color: #573a74;
  --faded-accent-color: #9583a7;
  --main-shadow-color: #25224d33;
  --attention-color: #b60055;

  --event-color-blue: #ade4ff;
  --event-color-purple: #f8d1ff;
  --event-color-pink: #ffcedc;
  --event-color-orange: #ffdab4;
  --event-color-yellow: #fced9a;
  --event-color-green: #cff2c8;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--extra-accent-bg-color);
  color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  background: var(--main-bg-color);
  color: var(--main-color);
  padding: 10px calc(10px + 2vw);
  height: 100vh;
  width: 100%;
  min-width: 333px;
  overflow-wrap: anywhere;
}

#root, main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  flex-grow: 1;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

button {
  user-select: none;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  height: 100%;
}

.center-container.horizontal {
  justify-content: flex-start;
  margin-top: 10px;
}

.spinner {
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img.load {
  opacity: 0.65;
}

.error-page-description {
  color: var(--accent-color);
  font-size: 1.03rem;
  font-weight: bold;
  line-height: 1.5;
  max-width: 425px;
  text-align: center;
}

.warning {
  color: var(--attention-color);
  font-size: 0.85rem;
  line-height: 1.2;
  text-align: center;
}

html, textarea {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--main-bg-color);
}

.Toastify__toast {
  background: var(--lighter-main-bg-color);
  border-radius: 14px;
  box-shadow: 0 0 4px 1px var(--main-shadow-color);
  color: var(--main-color);
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  margin: 0;
  min-height: 42px;
  padding: 12px;
}

.Toastify__close-button {
  top: 7px;
  right: 7px;
  opacity: 1;
}

.Toastify__close-button:hover {
  transform: scale(1.1);
}

.Toastify__toast svg path {
  fill: var(--accent-color);
}
